.status {
  @apply rounded-full;
  --abs-precent: 4.5%;
  width: 25%;
  height: 25%;
  display: block;
  position: absolute;
  right: var(--abs-precent);
  bottom: var(--abs-precent);
  visibility: hidden;
}

.statusOnline {
  visibility: visible;
  background-color: #5be389;
}

.statusAway {
  visibility: visible;
  background-color: #DC7B0A;
}

.statusHidden {
  visibility: visible;
  background-color: #c7c7c7;
}

.statusDontdisturb {
  visibility: visible;
  background-color: #E91E63;
}