.container {
  @apply bg-primary pl-6 pr-5;
  max-width: 14.563rem;
  /* height: 4.688rem; */
  padding-top: 10px;
  padding-bottom: 2px;
  border: 0.5px solid theme("colors.bg.secondary.DEFAULT");
  box-shadow: 0px 0px 10px theme("colors.fg.shadow.3");
  /* rgba(10, 9, 9, 0.15); */
  border-radius: 0px;
}
