.topFilter {
  @apply w-full flex items-center bg-secondary;
  padding: 4px 5px 4px 5px;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  gap: 5px;
}

.filterIcon {
  @apply text-icon text-xl;
  line-height: 12px;
}
