@import "./antd/Button.custom.scss";
@import "./antd/Checkbox.custom.scss";
@import "./antd/Input.custom.scss";
@import "./antd/Pagination.custom.scss";
@import "./antd/Radio.custom.scss";
@import "./antd/Select.custom.scss";
@import "./antd/Slider.custom.scss";
@import "./antd/Switch.custom.scss";
@import "./antd/Tabs.custom.scss";

/* 
 * /components/Searchbar/components/PropertyTypeSelect.tsx
 * 
 */
.property-type-overlay-menu {
  .ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    div[role="button"] {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

/**
* @for: /components/Auth/Header
* @description: center the subtitle
*/
.custom-auth-header {
  .ant-page-header-heading-left {
    width: 100%;

    .ant-page-header-heading-sub-title {
      display: block;
      flex-grow: 1;
    }
  }
}

/**
* @for: custom notification
* @description: format the custom notification.
*/
.custom-notification {
  max-width: 16.813rem;
  padding: 17px;

  .ant-notification-notice-with-icon .ant-notification-notice-description {
    margin-left: 32px !important;
    margin-right: 11px;
  }

  .ant-notification-notice-close {
    right: 1rem;
  }
}