/**
 * Here, define the different theme colors.
 * @naming: theme-[theme-name]-[color-name]. eg. "theme-light-primary".
 * @export name: [themeName][colorName]
 */

// Light Theme(default)
$theme-light-fg-primary: #000000;
$theme-light-fg-secondary: #828282;
$theme-light-fg-secondary-1: #575656;
/* carousel handle border color*/
$theme-light-fg-secondary-2: #bdbdbd;
$theme-light-fg-secondary-3: #d9d9d9;
$theme-light-fg-secondary-4: #979797; // filter border color.
$theme-light-fg-secondary-5: #535151; // filter sub-title(seniority, ratings, etc)
/* box shadow color */
$theme-light-fg-shadow: rgba(0, 0, 0, 0.1);
$theme-light-fg-shadow-1: rgba(0, 0, 0, 0.043);
$theme-light-fg-shadow-2: rgba(10, 9, 9, 0.08); // filter box shadow.
// Icon colors
$theme-light-fg-icon: rgba(174, 173, 173, 0.85);
$theme-light-fg-icon-1: rgba(0, 0, 0, 0.85);
$theme-light-fg-icon-2: rgba(0, 0, 0, 0.25);

$theme-light-bg-primary: #ffffff;
$theme-light-bg-secondary: #365272;
$theme-light-bg-secondary-light: #55708f;
$theme-light-bg-secondary-1: #f5f5f5;
$theme-light-bg-secondary-2: #5784b8; // footer submit button
$theme-light-bg-secondary-3: #7899BF; // background color of filter switch.
$theme-light-bg-focused: #bdd1e8;

:export {
  lightFgPrimary: $theme-light-fg-primary;
  lightFgSecondary: $theme-light-fg-secondary;
  lightFgSecondary1: $theme-light-fg-secondary-1;
  lightFgSecondary2: $theme-light-fg-secondary-2;
  lightFgSecondary3: $theme-light-fg-secondary-3;
  lightFgSecondary4: $theme-light-fg-secondary-4;
  lightFgSecondary5: $theme-light-fg-secondary-5;
  lightFgShadow: $theme-light-fg-shadow;
  lightFgShadow1: $theme-light-fg-shadow-1;
  lightFgShadow2: $theme-light-fg-shadow-2;
  lightFgIcon: $theme-light-fg-icon;
  lightFgIcon1: $theme-light-fg-icon-1;
  lightFbIcon2: $theme-light-fg-icon-2;

  lightBgPrimary: $theme-light-bg-primary;
  lightBgSecondary: $theme-light-bg-secondary;
  lightBgSecondaryLight: $theme-light-bg-secondary-light;
  lightBgSecondary1: $theme-light-bg-secondary-1;
  lightBgSecondary2: $theme-light-bg-secondary-2;
  lightBgSecondary3: $theme-light-bg-secondary-3;
  lightBgFocused: $theme-light-bg-focused;
}