.container {
  @apply px-6;
  border: 0.2px solid theme("colors.fg.secondary.4");
  box-shadow: 0px 1px 12px theme("colors.fg.shadow.2");
  height: 3.5rem;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: theme("colors.bg.secondary.light");
}

.optionContainer {
  @apply flex justify-around items-center;
  box-sizing: border-box;
  width: 378px;
  height: 46px;

  background: theme("colors.bg.primary");
  border: 1px solid theme("colors.fg.secondary.4");
  box-shadow: inset 0px 2px 12px theme("colors.fg.shadow.3");
  border-radius: 3px;
}

.checkIconWrapper {
  box-sizing: border-box;
  background: theme("colors.bg.primary");
  border: 0.2px solid theme("colors.bg.secondary.4");
  box-shadow: inset 6px 6px 4px theme("colors.fg.shadow.2");
}
