.container {
  @apply bg-primary w-full;
  border: 0.2px solid theme("colors.fg.secondary.3");
  box-shadow: 0px 1px 12px theme("colors.fg.shadow.2");
  box-sizing: border-box;
  max-width: 49rem;
  padding-top: 2.5rem;
  padding-bottom: 6.9rem;
  padding-right: 3rem;
  padding-left: 3rem;

  @screen md {
    padding-right: 8.4rem;
    padding-left: 8.4rem;
  }
}

.title {
  @apply text-lg leading-2xl text-bg-secondary-dark;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;

  display: flex;
  align-items: center;
}

.formItem {
  @apply mt-24 px-0;

  @screen md {
    @apply px-12;
  }
}

.button {
  @apply bg-secondary-light;
  border-radius: 2px;
  box-shadow: 0px 2px 0px theme("colors.fg.shadow.1");
  height: 33px;
  margin-top: 2.5rem;
  padding: 5px 16px;
}