.container {
  @apply -mx-2;
  width: calc(100% + 1rem) !important;
  max-width: calc(100% + 1rem) !important;
}

.arrow {
  @apply border-solid rounded-full flex items-center justify-center;
  width: 1.875rem;
  height: 1.875rem;
  box-sizing: border-box;
}

.arrowEnabled {
  @apply bg-primary text-icon-1;
  border: 0.1px solid theme("colors.fg.secondary.2");
  box-shadow: 0px 2px 6px theme("colors.fg.shadow.DEFAULT");
}

.arrowDisabled {
  @apply bg-secondary-1 text-icon-2;
  border: 1px solid theme("colors.fg.secondary.3");
  box-shadow: 0px 2px 0px theme("colors.fg.shadow.1");
}
