/* added due to the auto complete component in search component */
div.ant-select[class*="h-"] {
  .ant-select-selector {
    height: 100% !important;

    .ant-select-selection-search {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

/* for `/components/DealType.tsx`, adjust the border radius of the Radio.Group */
.deal-type-radio {
  .ant-radio-button-wrapper:first-child {
    border-radius: 4px 0 0 4px;
  }

  .ant-radio-button-wrapper:last-child {
    border-radius: 0 4px 4px 0;
  }
}
