@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "./antd-supplement.scss"; */

/** Define the different themes here 
  * Refer to https://tailwindcss.com/blog/tailwindcss-v3-1#easier-css-variable-color-configuration
  */

@layer base {
  [data-theme="light"] {
    --theme-color-text-primary: #ffffff;
    --theme-color-text-secondary: rgba(0, 0, 0, 0.45);

    --theme-color-bg-green: #05cc49;
    --theme-color-bg-primary: #f5f5f5;
    --theme-color-bg-secondary: #365272;
    --theme-color-bg-secondary-light: #55708f;
  }
}

body {
  color: #365272;
}
